<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Linux Command</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <script src="../static/js/jquery-2.2.3.min.js"></script>   
    <link href="../static/css/signup.css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/command.js"></script>
    
  </head>
 
  <body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">          
            <li role="presentation" onclick="logout()"><a href="logout">Logout</a></li>            
          </ul>
        </nav>
        <h3 class="text-muted">Linux Command</h3>
      </div>
 
      <div class="jumbotron">
        <h2>Run Linux Commands</h2>
        <form class="form-signin" name="myForm">
        <label for="command" class="sr-only">Enter Command</label>
        <input type="name" name="linuxCommand" id="linuxCommand" class="form-control" placeholder="Linux Command" required autofocus> <br>  
         <div class="form-group">    
            <textarea readonly class="form-control" rows="5" id="resp" placeholder="Response"></textarea>
         </div>              
        <button id="exCommand" class="btn btn-lg btn-primary btn-block" type="button" src="command.js" onclick="onSubmit()">Execute Command</button>               
      </form>
      </div>
 
    </div>
  </body>
</html>