<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Linux Command</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <script src="../static/js/jquery-2.2.3.min.js"></script>   
    <link href="../static/signup.css" rel="stylesheet">
    
  </head>
 
  <body>

  <script type="text/javascript">
    
     var xmlhttp = new XMLHttpRequest();
      var url = "http://localhost:5000/logout";
            
      xmlhttp.open("GET", url, true);
      xmlhttp.setRequestHeader("Content-type", "application/json");      
      xmlhttp.send(JSON.stringify(json));
      xmlhttp.onreadystatechange = function() {
          if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
              var myArr = JSON.parse(xmlhttp.responseText);
              console.log(myArr)
              myFunction(myArr);
          }
      };
      function myFunction(arr) {        
           console.log(typeof arr)       
          document.getElementById("result").innerHTML = arr.commandResponse;
      }
    }
  </script>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">          
            <li role="presentation" onclick="logout()"><a href="logout">Logout</a></li>            
          </ul>
        </nav>
        <h3 class="text-muted">Linux Command</h3>
      </div>
 
      <div class="jumbotron">
        <h1>Run Linux Commands</h1>
        <form class="form-signin">
        <label for="command" class="sr-only">Enter Command</label>
        <input type="name" name="command" id="command" class="form-control" placeholder="Name" required autofocus> <br>                
        <button id="exCommand" class="btn btn-lg btn-primary btn-block" type="button">Execute Command</button>
        <div id="resp"><div>
      </form>
      </div>
 
       
    <!--
      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer> 
      -->
 
    </div>
  </body>
</html>